.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    color: var(--normal-color);
    height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: transparent;
    color: var(--normal-color);
    padding: .375rem .75rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: transparent;
    color: red;
}




.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
    right: 8px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--normal-color) transparent transparent transparent;
}

span.select2-selection__rendered {
    height: 44px;
}